# Python
__pycache__/
*.py[cod]
myEnv/
venv/

# Dependencies
node_modules/

# Environment
.env
.env.*
.env.local


# Build
dist/
dist-ssr/
build/


# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# System
.DS_Store


# System
.DS_Store

# IDE
.vscode/
.idea/

